@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

* {
  font-family: "Source Sans Pro", "sans-serif";
}

.alert-class {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.btns button {
  padding: 10px 25px;
  margin: 5px 15px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.area-size {
  width: 80vw;
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.text-summary {
  margin: 20px 0px;
  width: 80vw;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .btns {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }
}

@media screen and (max-width: 1100px) {
  .btns button {
    padding: 10px 15px;
    margin: 5px 5px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
  }
}

@media screen and (max-width: 850px) {
  .btns {
    display: flex;
    justify-content: space-between;
    width: 95vw;
  }

  .text-summary {
    margin: 20px 0px;
    width: 95vw;
    text-align: left;
  }
  .area-size {
    width: 95vw;
  }
}

@media screen and (max-width: 700px) {
  .btns button {
    padding: 8px 5px;
    margin: 5px 5px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .btns button {
    padding: 8px 5px;
    margin: 5px 2px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
  .btns button {
    padding: 10px 5px;
    margin: 5px 2px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
  }
  .btns span {
    display: none;
  }
}

.btn-1 {
  color: white;
  background-color: #3dd28d;
}
.btn-1:hover {
  background-color: #30b476;
}

.btn-2 {
  color: white;
  background-color: #416dea;
}
.btn-2:hover {
  background-color: #2a50b8;
}

.btn-3 {
  color: white;
  background-color: #f32c52;
}
.btn-3:hover {
  background-color: #d30d31;
}

.btn-4 {
  color: #f35c5c;
  background-color: #feee7d;
}
.btn-4:hover {
  background-color: #c0b142;
}

.btn-5 {
  color: white;
  background-color: #7999a9;
}

.btn-5:hover {
  background-color: #333c41;
}

/* Logo Properties */

.logo {
  display: flex;
}

.logo img {
  height: 50px;
}

.logo div {
  display: flex;
  align-items: center;
}

.logo h2 {
  font-size: 20px;
  margin: 0px 5px;
  font-family: "Fugaz One", cursive;
}

.logo h1 {
  font-size: 20px;
}
